<% provide(:title, "Lista de usuários") %>

<h1><center>Users</center></h1>

<table>
  <thead>
    <tr>
      <td>Nome</td>
      <td>Login</td>
      <td>Email</td>
      <td colspan="3"></td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |us| %>
      <tr>
        <td><%= us.name %></td>
        <td><%= us.login %></td>
        <td><%= us.email %></td>
        <td><%= link_to "Visualizar", us %></td>
        <td><%= link_to "Remover", us, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New User', new_user_path %>